<div>
<div class="modal-header">
    <h4 class="modal-title">Warning!</h4></div>
        <div class="modal-body">Partner Tools page is not accessible for your account type.</div>
    <div class="modal-footer">
        <button ng-click="closeUnAuthorisedPopup()" class="btn btn-primary" type="button">OK</button>
    </div>
</div>
